<a href="https://colab.research.google.com/github/Elhassan7/Project-INE3/blob/master/Effyis_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Import all libraries

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

### Analysis Data:

Reading the data:

In [6]:
client_data = pd.read_excel('/content/Data Analysis Problem DataSet.xlsx', index_col=0)
client_data.head()

        Date  ID_User      Type    Amount  Status      Volume
0 2021-01-01        1  Recharge  1.000000       1  100.000000
1 2021-01-01        2  Recharge  1.000000       1  100.000000
2 2021-01-01        7  Recharge  1.143444       1  114.344384
3 2021-01-01       10  Recharge  1.169300       1  116.929957
4 2021-01-01       11  Recharge  1.994728       1  199.472785

shape of the data

In [7]:
client_data.shape

(1048575, 6)

info about clients data to verify type of data

In [9]:
client_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   Date     1048575 non-null  datetime64[ns]
 1   ID_User  1048575 non-null  int64
 2   Type     1048575 non-null  object
 3   Amount   1048575 non-null  float64
 4   Status   1048575 non-null  int64
 5   Volume   1048575 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(1)
memory usage: 56.0+ MB

describe the data Numerical

In [10]:
client_data.describe()

            ID_User        Amount        Status        Volume
count  1.048575e+06  1.048575e+06  1.048575e+06  1.048575e+06
mean   3.799399e+02  3.747154e+02  7.794035e-01  9.185616e+01
std    1.457351e+02  5.365265e+02  4.146491e-01  7.413204e+02
min    1.000000e+00  1.000000e+00  0.000000e+00 -2.799000e+03
25%    2.820000e+02  3.793362e+00  1.000000e+00 -1.367524e+02
50%    4.050000e+02  2.077103e+01  1.000000e+00  1.000000e+02
75%    5.050000e+02  7.050702e+02  1.000000e+00  4.096307e+02
max    5.760000e+02  2.799000e+03  1.000000e+00  4.100000e+03

describe the data object

In [11]:
client_data.describe(include=["O"])

            Type
count    1048575
unique         2
top     Recharge
freq      535804

=> on verify that column "Type" have two value

### Data Cleaning:

check that the volume column is calculated as follows:

• For Type="Recharge": Volume = Amount * 100 * Status

• For Type="RTP": Volume = Amount * (-1) * Status

In [26]:
Recharge_condition=client_data[client_data["Type"]=="Recharge"]["Volume"]==client_data[client_data["Type"]=="Recharge"].Amount*100*client_data[client_data["Type"]=="Recharge"].Status

In [35]:
Recharge_condition.value_counts()

True     432841
False    102963
dtype: int64

In [18]:
client_data["Volume"]==client_data["Volume"]

Date       0
ID_User    0
Type       0
Amount     0
Status     0
Volume     0
dtype: int64